body{
    background-color: white !important;
    color: white;
    height: 100%;
    margin-left: 50px;
    margin-right: 30px;
}
.container-fluid {
    display: flex;
}
.navbar >.container {
    padding-left: 15px;
    padding-top: 60px
}
.navbar.navbar-light.bg-light {
    background-color: white !important;
}
.col-backing {
    width: 16%;
}
.col-1 {
    width: 15%;
    position: fixed;
    align-items: flex-end;
    padding-left: 12px;
    padding-right: 12px;
    overflow: auto;
    height: 100%;
}
.col-2{
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    margin-right: 10px;
}
.col-3 {
    width: 25%;
}
.navbar-brand {
    display: flex;
}
.nav-link{
    color: black;
    display: flex;
    border-radius: 30px;
}
.nav-link:hover{
    color: #FAF0E6;
    border-color: #6495ED;
    background-color: #6495ED;
}
.nav-item:active{
    color: black;
}
.nav-item {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    background-color: #6495ED;
    font-size: 18px;
    padding: 10px;
}
#nav-btn {
    display: none;
    border: 0;
    background: transparent;
}
.nav-img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.settings-box {
    color: black;
    display: flex;
    background-color: white;
    border-radius: 30px;
    position: fixed;
    bottom: 0;
    width: 13%;
    margin-bottom: 5px;
}
.settings-box:hover {
    background-color: #6495ED;
}
.settings-box-hidden {
    display: none;
}
.settings-three-dots{
    color: black;
    position: absolute;
    right: 16px;
    bottom: 20px;
}
.settings-infobox {
    margin-bottom: 5px;
}
.settings-infobox h6{
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}
.settings-infobox p{
    margin-bottom: 0;
    color: gray;
    font-size: 12px;
}
.home { 
    color: black;
    font-weight: bold;
    padding: 5px 15px;
    border-bottom: 1px solid #D3D3D3;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.home h6{
    font-weight: bold;
    font-size: 18px;
}
.home-image {
    float: right;
}
.tweet-status {
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    display: flex;
    position: relative;
}
.main-photo {
    border: 1px double #00008B;
    margin: 10px 0 10px 10px;
    display: flex;
    background-color: wheat;
}
#message-status-box {
    background-color: white;
    border: none;
    color: #778899;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 0;
}
#message-status-box:focus {
    outline: none;
}
.message-status-icons{
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
}
.message-status-icon {
    margin-right: 10px;
}
#message-status-btn {
    width: 15%;
    margin-right: 20px;
    margin-top: -25px;
    opacity: 80%;
    
}
#btn-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: #6495ED;
    font-size: 18px;
    padding: 4px;
    border-radius: 50rem;
    border-color: #6495ED;
    font-weight: 400;
    color: white;
    position: absolute;
    right: 10px;
}
.like-icon {
    text-align: right;
    padding-right: 5px;
}
.follower-name {
    color: grey;
    font-size: 14px;
    margin-top: 7px;
    font-weight: bold;
}
.tweet{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
.tweet-photobox{
    width: 14%;
}
.main-photo-line{
    margin-top: -5px;
    margin-left: 9px;
}
.tweet-header{
    color: black;
    font-weight: bold;
    margin-top: 7px;
}
.job {
    text-decoration: none;
}
.fol-pers {
    width: 86%;
}
.main-follower-btn{
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    width: 15%;
    padding: 5px;
}
.main-photo-mini{
    border: 1px double #00008B;
    margin: 5px 10px 10px 21px;
    background-color: wheat;
}
.tweet-infobox {
    width: 86%;
}
.tweet-checkicon{
    margin: 10px 3px 0 3px;
}
.tweet-details {
    color: grey;
    font-size: 14px;
    margin-top: 7px;
    font-weight: bold;
}
.tweet-follower {
    color: grey;
    font-size: 14px;
    font-weight: bold;
}
.tweet-text {
    display: flex;
}
.tweet-text-three-dots{
    color: black;
    margin-top: 10px;
    position: absolute;
    right: 10px;
}
.tweet-paragragh {
    color: black;
    font-size: 14px;
}
.tweet-icons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}
.tweet-icon {
    display: flex;
    width: 25%;
}
.tweet-icon-img {
    margin-top: 3px;
}
.tweet-icon-value {
    color: grey;
    font-size: 14px;
    
}
.tweet-button {
    border: none;
    background-color: white;
    color: #6495ED;
    font-weight: bold;
    font-size: 14px;
    margin-left: -5px;
    margin-bottom: 5px;
}
.tweet-box-header {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.bg-danger{
    margin-left: 10px;
    margin-top: 3px;
    background-color: #6495ED !important;
}
#search {
    margin-left: 15px;
    color: #696969;
    font-size: 18px;
    width: 95%;
    background-color: #DCDCDC;
    border-radius: 30px;
    padding: 5px 10px;
}
#search-link {
    color: #696969;
    text-decoration: none;
}
#search-link:hover{
    color: #696969;
}

.search-img {
    margin-right: 15px;
}
.info-box{
    padding-top: 10px;
    margin-top: 20px;
    background-color: #DCDCDC;
    list-style: none;
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    width: 100%;
    position: relative;
}
.header-box {
    margin-left: 10px;
    width: 90%;
    letter-spacing: 0.05em;
}
.info-box-header{
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 5px;
}
.settings-icon {
    position: absolute;
    right: 20px;
}
.trends-box svg{
    margin-right: 15px;
    color: black;
}
.trend-box {
    margin-left: 15px;
    margin-bottom: 20px;
}
.trend-box p{
    margin-bottom: 0;
    color: gray;
    font-size: 10px;
}
.trend-box h6{
    margin-bottom: 0;
    font-weight: bold;
    color: black;
    font-size: 14px;
}
.show-more-btn {
    border: none;
    background-color: #DCDCDC;
    color: #6495ED;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.follower-box {
    width: 100%;
    display: flex;
}
.follower-btn{
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    position: absolute;
    right: 5px;
    margin-top: 20px;
}
.follower-photobox {
    width: 35%;
}
.follower-infobox {
    width: 80%;
}
.follower-header {
    color: black;
    font-weight: bold;
    padding-top: 15px;
    font-size: 14px;
    margin-bottom: 0;
}
.follower-details {
    color: grey;
    font-size: 12px;
    padding-top: 0;
}


.footer-right {
    float: right;
    position: fixed;
    right: 35px;
    bottom: 0;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 15px 15px 0 0 ;
    border: 2px solid #c0c0c0;
    border-bottom: none;
}
.footer-right h6{
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.footer-right-image {
    float: right;
    margin: 20px 15px 5px 0;
}

.main-photo-footer {
    width: 20%;
    margin-right: 10px;
}
.footer {
    margin-left: 18px;
    margin-top: 15px;
}
.footer a{
    margin-right: 8px;
    color: grey;
    font-size: 10px;
    text-decoration: none;
}
@media screen and (max-width: 1264px) {
    .home {
        margin-left: 5px;
    }
    .col-1 {
        width: 20%;
    }
    .col-backing {
        width: 20%;
    }
    .settings-box {
        display: none;
    }
    .settings-box-hidden {
        display: flex;
        border-radius: 30px;
        position: fixed;
        bottom: 0;
    }
    .settings-box-hidden:hover {
        background-color: #6495ED;
    }
    .main-photo-footer {
        width: 55%;
    }
    .col-2 {
        width: 45%;
    }
    .col-3 {
        width: 30%;
    }
    body {
        margin-left: 0;
    }
}
@media screen and (max-width: 992px) {
    .nav-item__text {
        display: none;
    }
    .footer-right {
        display: none;
    }
    .col-3 {
        display: none;
    }
    .col-2 {
        width: 80%;
    }
    .col-1{
        width: 15%;
    }
    .col-backing {
        width: 15%;
    }
    body {
        margin-right: 0;
        margin-left: 0;
    }
    .home {
        margin-left: 0;
    }
    .btn.btn-primary {
        display: none;
    } 
    #nav-btn {
        display: flex;
    } 
}
@media screen and (max-width: 600px) {
    body {
        margin-right: 0;
    }
    .col-1 {
        width: 15%;
    }
    .col-backing {
        width: 15%;
    }
    .col-2 { 
        width: 80%;
        margin-right: 0;
        right: 0;
        padding-right: 0;
    }
    .tweet-infobox {
        width: 60%;
    }
    .tweet-photobox {
        width: 20%;
    }
}