
/* #twitter_icon {
    height: auto;
} */
.navbar >.container {
    padding-left: 15px;
    padding-top: 60px
}
.navbar.navbar-light.bg-light {
    background-color: #FFEFD5 !important;
}
body{
    background-color: #FFEFD5 !important;
    color: white;
    width: 95%;
    margin-left: 90px;
}
.col-md-6{
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand-twitter-icon {
    margin-bottom: 15px;
}

.nav-link{
    color: black;
    display: flex;
}
.nav-link:hover{
    color: #FAF0E6;
    border-color: cornflowerblue;
    background-color: #6495ED;
}
.nav-item:active{
    color: black;
}
.nav-img {
    margin-right: 10px;
}
.nav-item {
    margin-bottom: 10px;
}
.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    background-color: #6495ED;
    font-size: 18px;
    padding: 4px;
}
.home { 
    color: black;
    font-weight: bold;
    padding: 5px 15px;
    border-bottom: 1px solid #D3D3D3;
    position: sticky;
    top: 0;
    background-color: #FFEFD5;
}
.home h6{
    font-weight: bold;
}
.home-image {
    float: right;
}
.status-message {
    border-bottom: 1px solid #D3D3D3;
}
.main-photo {
    border: 1px double #00008B;
    margin: 10px 0 10px 10px;
    float: left;
    background-color: wheat;
}
#message-status-box {
    background-color: #FFEFD5;
    border: none;
    color: #778899;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-left: 7px;
}
#message-status-box:focus {
    outline: none;
}

.message-status-icons{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 15px;
}
.message-status-icon {
    margin-right: 10px;
}
#message-status-btn {
    width: 15%;
    float: right;
    margin-right: 20px;
    margin-top: -25px;
    opacity: 50%;
}
.tweet{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
.tweet-photobox{
    width: 14%;
}
.main-photo-line{
    margin-top: -5px;
    margin-left: 9px;
}
.tweet-header{
    color: black;
    font-weight: bold;
    margin-top: 7px;
}
.main-photo-mini{
    border: 1px double #00008B;
    margin: 5px 10px 10px 21px;
    float: left;
    background-color: wheat;
}
.tweet-infobox {
    width: 86%;
}
.tweet-checkicon{
    float: left;
    margin: 10px 3px 0 3px;
}
.tweet-details {
    color: grey;
    font-size: 14px;
    margin-top: 7px;
}
.tweet-text {
    display: flex;
}
.tweet-text-three-dots{
    color: black;
    margin-top: 10px;
    position: absolute;
    right: 16px;
}
.tweet-paragragh {
    color: black;
    font-size: 14px;
}
.tweet-icons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}
.tweet-icon {
    margin-top: 3px;
    margin-right: 10px;
}
.tweet-icon-value {
    color: grey;
    font-size: 14px;
    margin-right: 75px;
    
}
.tweet-button {
    border: none;
    background-color: #FFEFD5;
    color: #6495ED;
    font-weight: bold;
    font-size: 14px;
    margin-left: -5px;
    margin-bottom: 5px;
}

.bg-danger{
    margin-left: 10px;
    margin-top: 3px;
    background-color: #6495ED !important;
}
.navbar{
    background-color: #DCDCDC;
    padding: 0;
    margin: 5px;
}
.navbar-brand {
    margin-left: 15px;
    color: #696969;
    font-size: 18px;
}
.navbar-brand:hover{
    color: #696969;
}

.navbar-col-3-row {
    padding-top: 10px;
    margin-top: 20px;
    background-color: #DCDCDC;
    list-style: none;
    border-radius: 15px;
    margin-left: 10px;
}
.navbar-col-3-row-1-img {
    margin-right: 15px;
}
/* .navbar-col-3-row-2 {
    color: black;
    font-size: 10px;
} */
.navbar-col-3-row-2-header{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}
.navbar-col-3-row-2-img {
    float: right;
    margin-right: 10px;
}
.navbar-col-3-row-2 svg{
    float: right;
    margin-right: 15px;
    color: black;
}
.navbar-col-3-row-2-container {
    margin-left: 15px;
}
.navbar-col-3-row-2-container p{
    margin-bottom: 0;
    color: gray;
    font-size: 10px;
}
.navbar-col-3-row-2-container h6{
    margin-bottom: 0;
    font-weight: bold;
    color: black;
    font-size: 14px;
}
.navbar-col-3-row-2-button {
    border: none;
    background-color: #DCDCDC;
    color: #6495ED;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.navbar-col-3-row-3-container-button {
    float: right;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-right: 15px;
    font-size: 14px;
}
.navbar-col-3-row-3-container-img {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    background-color: wheat;
    border: 1px double #00008B;
}
.navbar-col-3-row-3-container h6 {
    margin-bottom: 0;
    font-weight: bold;
    color: black;
    font-size: 14px;
}
.navbar-col-3-row-3-container p {
    margin-bottom: 0;
    color: gray;
    font-size: 10px;
}

.footer-right {
    float: right;
    position: fixed;
    right: 35px;
    bottom: 0;
    width: 300px;
    background-color: #FFEFD5;
    color: black;
    border-radius: 15px 15px 0 0 ;
    border: 2px solid #c0c0c0;
    border-bottom: none;
}
.footer-right h6{
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.footer-right-image {
    float: right;
    margin: 20px 15px 5px 0;
}
.footer-left {
    color: black;
    width: 230px;
    float: left;
    position: fixed;
    left: 10px;
    bottom: -10px;
    margin-left: 40px;
    background-color: #FFEFD5;
}
.footer-left svg{
    float: right;
    margin-right: 5px;
    color: black;
    margin-top: 25px;

}
.footer-left h6{
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
}
.footer-left p{
    margin-bottom: 0;
    color: gray;
    font-size: 12px;
}
.main-photo-footer {
    margin-right: 5px;
}
.footer {
    margin-left: 18px;
    margin-top: 0;
}
.footer a{
    margin-right: 5px;
    color: grey;
    font-size: 12px;
    text-decoration: none;
    padding: 0;
    margin-top: 0;
}
@media screen and (max-width: 1024px) {
    .nav-item__text {
        display: none;
    }
    .col-md-2 {
        width: 10%;
        border-right: 1px solid #D3D3D3;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    .btn.btn-primary {
        width: 90%;
        font-size: 14px;
    }
}
@media screen and (max-width: 781px) {
    .col-md-2 {
        width: 30%;
    }
    .nav-item__text {
        display: flex;
    }
    .btn.btn-primary {
        width: 100%;
        font-size: 18px;
    }
}
@media screen and (max-width: 640px) {
    .btn.btn-primary {
        width: 80%;
        font-size: 14px;
    }
    .nav-item__text {
        display: none;
    }
    .col-md-2 {
        width: 15%;
    }
    body {
        margin-left: 0;
    }
}